/* Header Styling */
header {
  background-color: #005c85; /* Maritime Farbe */
  background-size: cover; /* Das Bild wird so skaliert, dass es den gesamten Bereich abdeckt */
  background-position: center; /* Das Bild wird zentriert */
  background-repeat: no-repeat; /* Das Bild wird nicht wiederholt */
  padding: 5px 0;
  position: relative; /* Fest positioniert */
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it is above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Schatten für mehr Tiefe */
  padding-top: 5px;
}

.navbar {
  background-color: #005c85; /* Same as header */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-color: #005c85;
}

/* Navigation Link Styling */
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  padding: 30px 15px; /* Padding für mehr Klickbereich */
  border-radius: 20px; /* Abgerundete Ecken */
  transition: all 0.3s ease; /* Glatte Übergänge */
  position: relative; /* Für die Pseudo-Elemente erforderlich */
}



