<h1 mat-dialog-title class="form-title">Buchungsformular</h1>
<div mat-dialog-content>
  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="booking-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Adresse</mat-label>
      <input matInput formControlName="address" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Startdatum</mat-label>
      <input matInput formControlName="startDate" [disabled]="true">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Enddatum</mat-label>
      <input matInput formControlName="endDate" [disabled]="true">
    </mat-form-field>
    <div class="button-group">
      <button mat-raised-button color="primary" type="submit">Buchen</button>
      <button mat-button color="warn" (click)="onNoClick()">Abbrechen</button>
    </div>
  </form>
</div>
