<div class="booking-form-container">
  <h2>Buchung erstellen</h2>
  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Adresse</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Startdatum</mat-label>
      <input matInput formControlName="startDate" [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enddatum</mat-label>
      <input matInput formControlName="endDate" [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Zielhafen</mat-label>
      <mat-select formControlName="zielHafen">
        <mat-option *ngFor="let hafen of haefen" [value]="hafen.id">{{ hafen.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Buchen</button>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
  </form>
</div>