<div class="contact-page">
    <div class="image-section">
      <img src="assets/Haende_am_Laptop.jpg" alt="Office">
      <div class="overlay">
        <h1>Get in touch</h1>
        <p class="text">Want to get in touch? We'd love to hear from you.</p>
      </div>
    </div>
    <div class="contact-container">
        <div class="contact-box">
          <h2>Talk to Sales</h2>
          <div class="icon">
            <fa-icon [icon]="['fas', 'phone-alt']" class="flip-horizontal"></fa-icon>
        </div>
          <p>Just pick up the phone to chat with a member of our sales team.</p>
          <p class="phone-number">
            <a href="tel:+491795493462">0049 179 5493462</a>
          </p>
        </div>
      </div>
      