<div class="contact-page">
    <div class="image-section">
      <img src="assets/Haende_am_Laptop.jpg" alt="Büro">
      <div class="overlay">
        <h1>Kontaktieren Sie uns</h1>
        <p class="text">Möchten Sie Kontakt aufnehmen? Wir würden gerne von Ihnen hören.</p>
      </div>
    </div>
    <div class="contact-container">
        <div class="contact-box">
            <h2>Sprechen Sie mit dem Vertrieb</h2>
            <div class="icon">
                <fa-icon [icon]="['fas', 'phone-alt']" class="flip-horizontal"></fa-icon>
            </div>
            <p>Rufen Sie einfach an, um mit einem Mitglied unseres Vertriebsteams zu sprechen.</p>
            <p class="phone-number">
                <a href="tel:+491795493462">0049 179 5493462</a>
            </p>
        </div>
        <div class="contact-box-email">
            <h2>Kontaktieren Sie uns über E-Mail</h2>
            <div class="icon">
                <fa-icon [icon]="['fas', 'envelope']" class="flip-horizontal"></fa-icon>
            </div>
            <p>Schreiben Sie uns eine E-Mail an uns, wir kümmern uns um ihr Anliegen.</p>
            <p class="email-address">
                <a href="mailto:nourhamwii28&#64;gmail.com">nourhamwii28&#64;gmail.com</a>
            </p>
        </div>
    </div>
</div>

      