<h1>Login</h1>
<div class="container">
  <h2>Anmeldung</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" id="username" placeholder="Benutzername" formControlName="username" />
    </div>
    <div class="form-group password-field">
      <div class="password-input-container">
        <input [type]="hidePassword ? 'password' : 'text'" id="password" placeholder="Passwort" formControlName="password" />
        <button type="button" class="visibility-btn" (click)="togglePasswordVisibility()">
          <fa-icon [icon]="hidePassword ? faEyeSlash : faEye" />
        </button>
      </div>
    </div>
    <div class="button-group">
      <button type="submit" id="login-btn">Anmelden</button>
    </div>
  </form>
  <div class="register-link">
    Besitzen Sie kein Kundenkonto? <a href="register">Registrieren</a>
  </div>
</div>
