.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 60px;
}


.container h1,
.container p {
  text-align: center;
}


input[type="text"] {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}


.scrollable-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  max-width: 600px;
}

.scrollable-list li {
  padding: 10px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.scrollable-list li:hover {
  background-color: #e9e9e9;
}


.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}


.card {
  position: relative;
  overflow: hidden;
}

.card .card-content {
  position: relative;
}

.details-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  bottom: 7%;
  width: 100%;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(30px);
}

.details-content.visible {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s, 0s;
}

.details-content .text-content {
  flex: 1;
  margin-right: 20px;
  text-align: left;
  color: white;
}

.details-content .text-content h3,
.details-content .text-content p {
  margin: 5px 0;
}

.details-content .calendar {
  flex: 0 0 auto;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
  color: white;
}

.details-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.details-button:hover {
  background-color: #0056b3;
  transition: ease 0.7s;
}

.weiter-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.weiter-button:hover {
  background-color: #0056b3;
}

.details-image {
  position: relative;
}

.details-image img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  transition: 0.6s ease;
  margin: 0px;
}

.mySlides {
  display: none;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  z-index: 1000;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.card.expanded {
  transform: scale(1.05);
}

.card-header {
  display: flex;
  flex-direction: column;
}

.card-image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  padding: 30px;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  margin: 0 0 10px 0;
}

.card-content p {
  margin: 5px 0;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
}


.details-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.details-button:hover {
  background-color: #0056b3;
  transition: ease 0.7s;
}


.card-details-container {
  grid-column: span 3;
  width: 100%;
}

.card-details {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.details-image {
  position: relative;
}

.details-content h3 {
  margin: 0 0 10px 0;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.option input {
  margin: 0;
}

.price-detail {
  font-size: 0.875rem;
  color: #fff;
}

.kilometerpaket h4 {
  margin: 20px 0 10px 0;
}

.weiter-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.weiter-button:hover {
  background-color: #0056b3;
}


.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}


.mySlides {
  display: none;
}


.mySlides.active {
  display: block;
}



.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


@media (max-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .card,
  .card-details-container {
    width: 100%;
    max-width: none;
  }
}

.booked-date .mat-calendar-body-cell-content {
  background-color: red !important;
  color: white !important;
  border-radius: 50%;
}