<div class="container">
  <h1>Unsere Schiffe / Boote</h1>
  <p>Hier findest du eine Liste unserer verfügbaren Schiffe.</p>

  <input type="text" placeholder="Hafen suchen..." [(ngModel)]="searchQuery" (focus)="onSearch($event)" (input)="onSearch($event)">

  <ul *ngIf="similarHaefen.length > 0" class="scrollable-list">
    <li *ngFor="let hafen of similarHaefen" (click)="selectHafen(hafen)">{{ hafen }}</li>
  </ul>

  <div class="cards-container">
    <ng-container *ngFor="let schiff of filteredSchiffe; let i = index">
      <div class="card" [class.expanded]="schiff === selectedSchiff" (click)="toggleDetails(schiff, i)">
        <div class="card-header">
          <div class="card-image">
            <img [src]="schiff.bildUrls[0]" alt="{{ schiff.name }}">
          </div>
          <div class="card-content">
            <h2>{{ schiff.name }}</h2>
            <p>Typ: {{ schiff.type }}</p>
            <div class="price">
              <span>{{ schiff.preisProNacht }} €</span>
              <span>/Nacht</span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="schiff === selectedSchiff && detailInserted[i]" class="card-details-container" (ngInit)="setDetailInserted(i)">
        <div class="card-details">
          <div class="details-image">
            <div class="slideshow-container">
              <div *ngFor="let bild of selectedSchiff?.bildUrls; let j = index" class="mySlides" [ngClass]="{'active': j === currentSlides[i]}">
                <img [src]="bild" alt="{{ selectedSchiff.name }}">
              </div>
              <a class="prev" (click)="plusSlides(-1, i)">&#10094;</a>
              <a class="next" (click)="plusSlides(1, i)">&#10095;</a>
            </div>
          </div>
          <button class="details-button" (click)="toggleDetailsContent(i)">Details anzeigen</button>
          <div [class.visible]="detailsVisible[i]" class="details-content">
            <div class="text-content">
              <h3>{{ selectedSchiff.name }}</h3>
              <p>Typ: {{ selectedSchiff.type }}</p>
              <p>Kapazität: {{ selectedSchiff.capacity }} Personen</p>
              <p>Preis pro Nacht: {{ selectedSchiff.preisProNacht }} €</p>
              <p>Inhalt: {{ selectedSchiff.inhalt }}</p>
              <p>Hafen: {{ selectedSchiff.hafenName }}</p>
              <button class="weiter-button" (click)="openForm(selectedSchiff)">Weiter</button>
            </div>
            <div class="calendar">
              <h4>Kalender</h4>
              <mat-form-field appearance="fill">
                <mat-label>Datum auswählen</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [dateFilter]="myDateFilter">
                  <input matStartDate formControlName="start" placeholder="Startdatum">
                  <input matEndDate formControlName="end" placeholder="Enddatum">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
