<div class="container">
  <div class="globe-container">
    <div id="globeViz"></div>
  </div>
  <div class="info-and-details-container">
    <div class="info-container">
      <h2>Unsere Häfen</h2>
      <p>Hier findest du Informationen zu den Häfen, die wir ansteuern.</p>
      <input type="text" placeholder="Häfen suchen..." [formControl]="searchControl">
      <ul>
        <li *ngFor="let hafen of filteredHafens | async" (click)="selectHafen(hafen)">{{ hafen.name }}</li>
      </ul>
    </div>
  </div>
</div>


<div class="details-container" *ngIf="selectedHafen">
  <img [src]="selectedHafen.imageUrl" alt="{{ selectedHafen.name }}">
  <div class="hafen-details">
    <h3>{{ selectedHafen.name }}</h3>
    <p>Straße: {{ selectedHafen.street }}</p>
    <p>Capacity: {{ selectedHafen.capacity }}</p>
    <button routerLink="/schiffe" class="button-container">Zu den Schiffen</button>
  </div>
</div>

