<div class="container"></div>
<h1>Registrieren</h1>
<div class="container">
  <h2>Benutzerregistrierung</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" id="name" placeholder="Vorname" formControlName="name" />
    </div>
    <div class="form-group">
      <input type="text" id="surname" placeholder="Nachname" formControlName="surname" />
    </div>
    <div class="form-group">
      <input type="text" id="username" placeholder="Benutzername" formControlName="username" />
    </div>
    <div class="form-group password-field">
      <input [type]="hidePassword ? 'password' : 'text'" id="password" placeholder="Passwort" formControlName="password" />
      <button type="button" class="visibility-btn" (click)="togglePasswordVisibility('password')">
        <fa-icon [icon]="hidePassword ? faEyeSlash : faEye" />
      </button>
    </div>
    <div class="form-group password-field">
      <input [type]="hideConfirmPassword ? 'password' : 'text'" id="confirm-password" placeholder="Passwort bestätigen" formControlName="confirmPassword" />
      <button type="button" class="visibility-btn" (click)="togglePasswordVisibility('confirmPassword')">
        <fa-icon [icon]="hideConfirmPassword ? faEyeSlash : faEye" />
      </button>
    </div>
    <div class="button-group">
      <button type="submit" id="register-btn">Registrieren</button>
    </div>
  </form>
  <div class="login-link">
    Besitzen Sie bereits ein Kundenkonto? <a href="login">Anmelden</a>
  </div>


</div>

